---
interface Props{
    color: string;
    width: number;
    height: number;
    left?: number;
    right?: number;
    top: number;
    zIndex: number;
    rotation: number;
    opaciti?: number;
};

const { color, width, height, left, top, zIndex, rotation,opaciti }: Props = Astro.props;
---
<div
  class="absolute rounded-[75%]"
  style={`
    width: ${width}px;
    height: ${height}px;
    background-color: ${color};
    left: ${left}vh;
    top: ${top}vw;
    z-index: ${zIndex};
    transform: rotate(${rotation}deg);
    position: relativa;
    opacity: ${opaciti || 1};
  `}
></div>
